
.p-toast-message-success {
  background-color: #006400 !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 1.4rem;
  border-radius: 10px !important;
  box-shadow: 0 4px 10px rgba(0, 100, 0, 0.5);
}

.p-toast-message-error {
  background-color: #8B0000 !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 1.4rem;
  border-radius: 10px !important;
  box-shadow: 0 4px 10px rgba(139, 0, 0, 0.5);
}


.p-toast {
  top: 80px !important;
  right: 80px !important;
  width: 400px !important;
  z-index: 1250 !important;
  text-align: center;
}

/* Aumenta a largura de cada mensagem */
.p-toast .p-toast-message {
  width: 700px !important;
  max-width: 90% !important;
  padding: 1rem 1.5rem !important;
}


.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 3.2rem !important;
  min-height: 3.2rem !important;
  font-size: 1.25rem !important;
  margin: 0 0.2rem;
  padding: 0.3rem 0.5rem;
}

.p-paginator {
  padding: 0.5rem 1rem;
}

.p-paginator .p-paginator-prev:hover,
.p-paginator .p-paginator-next:hover,
.p-paginator .p-paginator-page:hover {
  background-color: #005a9e !important;
  color: white !important;
  font-weight: bold;
}
